body{
    /* background-color: gainsboro; */
}
header{
    width: 100%;
    height: 64px;
    display: flex;
    
    padding: 0px 24px;
}
.logo{
    height: 64px;
}
.logo img{
    height: 35px;
    width: 35px;
    padding-top:16px;
    padding-bottom: 15px;

}
.title{
    height: 32px;
}
.title p{
    font-size:25px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 10px;
}
nav{
   width:79%;
   height: 64px;
   text-align: right;
  
}

nav a{
    display: block;
    color: #000;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    /* padding: 18px 16px; */
    text-decoration: none;
    font-size: 23px;
   
    border:2px ;
} 
nav a:hover{
    color: rgb(184, 176, 176);
    transition: all .4s ease;
} 
nav ul{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    white-space: nowrap;
    float: none;
}
nav ul li ul a{
    font-size: 20px;
    font-weight: lighter;
    padding: 5px;
   
}
nav ul li:hover>ul{
    display: inherit;
    background-color:rgb(83, 81, 81);
    transition:  all .3s ease;

}
nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
}
nav ul ul li{
    
    display: list-item;
    position: relative;
}
nav ul ul ul{
    position: absolute;
    top:0;
    left:100%;
    
}  
.content{
    width: 100%;
    background-color: gainsboro;
    display: flex;
    
}  
.image{
    width: 60%;
}
.image img{
    width:90%;
    padding: 32px 24px;
}
.contentright{
    width:40% ;
    display: inline-block;
    padding: 32px 24px;
}

#topic{
    font-size: 55px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#discription{
    font-size: 25px;
    margin-bottom:40x;
    width: 70%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.startbutton{
   
    width:65%;
    background-color: rgb(88, 85, 85);
    padding:8px;
    text-align: center;
}

.startbutton a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  

    
}